<h1>Restaurants Apps</h1>
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" routerLink="">Resto</a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" a routerLink="Add">Add Resturant </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" a routerLink="">List Resturant </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" a routerLink="Login">Login </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" a routerLink="Register">Register User</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" a routerLink="update">Update Resturant</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" a routerLink="search">Search Resturant</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" a routerLink="crud">Crud</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</nav>

<router-outlet></router-outlet>
<!-- <footer>
  <p>Register your Resturant</p>
</footer> -->
