<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">
        <input
          type="text"
          class="form-control"
          id="title"
          placeholder="Enter title"
          formControlName="title"
          class="form-control"
        />
      </th>
      <th scope="col">
        <input
          type="text"
          class="form-control"
          id="author"
          placeholder="Enter author"
          formControlName="author"
          class="form-control"
        />
      </th>
      <th scope="col">
        <input
          type="number"
          class="form-control"
          id="price"
          placeholder="Enter price"
          formControlName="name"
          class="form-control"
        />
      </th>
      <th scope="col">
        <button type="button" class="btn btn-primary">Primary</button>
      </th>
    </tr>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Price</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
